.advantages {
  padding: 70px 106px 56px;
  color: $color-default-white;
  background-color: $color-cerulean-blue;
  border-radius: 20px;

  @include vp-1199 {
    padding: 40px;
  }

  @include vp-767 {
    padding: 20px 20px 40px 10px;
  }
}

.advantages__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);

  @include vp-1199 {
    gap: 20px 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    gap: 0;
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 22px 0 0 20px;
  padding: 6% 9.03% 6% 12.4%;
  border: 1px solid $color-alabaster;
  border-radius: 16px;
  gap: 0 10px;

  &::before {
    content: "";
    position: absolute;
    top: -13px;
    left: -11px;
    width: 32px;
    height: 32px;
    background: $color-cerulean-blue url("../img/svg/star.svg") 0 0 / 22px 22px no-repeat;
  }

  h3 {
    margin: 0;
    font-weight: 400;
    width: 90%;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.26px;
  }

  p {
    margin: 0;
    width: 100%;
    font-weight: 300;
    line-height: 20px;
  }

  @include vp-1199 {
    flex-direction: column;
    justify-content: flex-start;
    min-width: 264px;
    padding: 30px 30px 25px 29px;
    gap: 7px 0;

    &:nth-child(2n - 1) {
      h3 {
        width: auto;
      }

      p {
        width: auto;
      }
    }

    &:nth-child(2n) {
      h3 {
        width: auto;
      }

      p {
        width: auto;
      }
    }

    h3 {
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 0.2px;
    }

    p {
      max-width: 94%;
    }
  }

  @include vp-767 {
    min-width: 0;
    padding: 19px 17px 23px 19px;
    gap: 4px 0;

    &::before {
      background-position: 2px 2px;
      background-size: 18px 18px;
    }

    h3 {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.16px;
    }

    p {
      max-width: 85%;
      font-size: 14px;
    }
  }
}
