.answers {
  background-color: $color-alabaster;
}

.answers__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 61px;
  padding-bottom: 62px;
  gap: 67px 0;

  @include vp-1199 {
    padding-top: 49px;
    padding-bottom: 50px;
    gap: 41px 0;
  }

  @include vp-767 {
    padding-top: 34px;
    padding-bottom: 37px;
    gap: 33px 0;
  }
}

.answers__list {
  display: flex;
  flex-direction: column;
  width: 1028px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 10px 0;

  @include vp-1199 {
    width: 100%;
  }
}

.answers__item {
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;
  transition: background-color $trans-default;
  cursor: pointer;

  &:not(.is-active) {
    &:has(.answers__button:active) {
      h3 {
        color: $color-endeavour;
      }
    }

    &:hover,
    &:focus {
      background-color: $color-default-white;

      .answers__button {
        background-color: $color-default-white;
        border-color: $color-cerulean-blue;

        &::before,
        &::after {
          background-color: $color-cerulean-blue;
        }

        @include active {
          background-color: $color-endeavour;
          border-color: $color-endeavour;

          &::before,
          &::after {
            background-color: $color-default-white;
          }
        }
      }
    }

    &:active {
      h3 {
        color: $color-endeavour;
      }

      .answers__button {
        background-color: $color-endeavour;
        border-color: $color-endeavour;

        &::before,
        &::after {
          background-color: $color-default-white;
        }
      }
    }
  }

  @include vp-767 {
    border-radius: 14px;
  }
}

.answers__item.is-active {
  background-color: $color-cerulean-blue;

  &:has(.answers__button:active) {
    background-color: $color-endeavour;
  }

  &:hover,
  &:focus {
    .answers__button {
      background-color: $color-transparent;
      border-color: $color-default-white;

      &::before {
        background-color: $color-default-white;
      }
    }
  }

  &:active {
    background-color: $color-endeavour;

    .answers__button {
      background-color: $color-default-white;
      border-color: $color-default-white;

      &::before {
        background-color: $color-endeavour;
      }
    }
  }
}

.answers__content {
  padding: 39px;

  @include vp-1199 {
    padding: 29px;
  }

  @include vp-767 {
    padding: 19px 14px;
  }
}

.answers__item.is-active .answers__content {
  padding-bottom: 32px;

  @include vp-1199 {
    padding-bottom: 25px;
  }

  @include vp-767 {
    padding-bottom: 14px;
  }
}

.answers__question {
  display: flex;
  justify-content: space-between;

  h3 {
    align-self: center;
    max-width: 65%;
    margin: -7px 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: $color-cerulean-blue;
    transition: color $trans-default;
  }

  @include vp-1199 {
    h3 {
      max-width: 80%;
      margin: -5px 0;
      font-size: 22px;
      line-height: 26px;
    }
  }

  @include vp-767 {
    align-items: center;

    h3 {
      max-width: 75%;
      margin: 0;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.answers__item.is-active .answers__question {
  h3 {
    color: $color-default-white;
  }
}

.answers__button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: $color-cerulean-blue;
  border: 1px solid $color-cerulean-blue;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color $trans-default;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 1px;
    margin: auto;
    background-color: $color-default-white;
    transition: background-color $trans-default;
    inset: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 18px;
    margin: auto;
    background-color: $color-default-white;
    opacity: 1;
    transition:
      background-color $trans-default,
      opacity $trans-default;
    inset: 0;
  }

  @include hover-focus {
    background-color: $color-transparent;

    &::before,
    &::after {
      background-color: $color-cerulean-blue;
    }
  }

  &:focus-visible {
    background-color: $color-transparent;

    &::before,
    &::after {
      background-color: $color-cerulean-blue;
    }
  }

  &:active {
    background-color: $color-endeavour;
    border-color: $color-endeavour;

    &::before,
    &::after {
      background-color: $color-default-white;
    }
  }

  &:disabled {
    background-color: $color-mischka;
    border-color: $color-mischka;

    pointer-events: none;

    &::before,
    &::after {
      background-color: $color-default-white;
    }
  }
}

.answers__item.is-active .answers__button {
  background-color: $color-default-white;
  border-color: $color-default-white;

  &::before {
    background-color: $color-cerulean-blue;
  }

  &::after {
    opacity: 0;
  }

  @include hover-focus {
    background-color: $color-transparent;

    &::before {
      background-color: $color-default-white;
    }
  }

  @include active {
    background-color: $color-default-white;
    border-color: $color-default-white;

    &::before {
      background-color: $color-endeavour;
    }
  }
}

.answers__answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height $trans-default,
    margin 0.3s;

  p {
    max-width: 70%;
    margin: 0;
  }

  @include vp-1199 {
    p {
      max-width: 85%;
      line-height: 20px;
    }
  }

  @include vp-767 {
    p {
      max-width: 97%;
      font-size: 14px;
    }
  }
}

.answers__item.is-active .answers__answer {
  max-height: 100%;
  margin: 18px 0 0;
  color: $color-alabaster;

  @include vp-1199 {
    margin: 16px 0 0;
  }

  @include vp-767 {
    margin: 15px 0 0;
  }
}
