.custom-input,
.custom-textarea {
  label {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px 0;

    &:hover {
      .custom-input__label,
      .custom-textarea__label {
        opacity: 1;
      }

      input,
      textarea {
        border: 1px solid $color-default-white;
      }
    }

    &:focus {
      .custom-input__label,
      .custom-textarea__label {
        opacity: 1;
      }

      input,
      textarea {
        border: 1px solid $color-default-white;
      }
    }

    input:disabled,
    textarea:disabled {
      background-color: rgba($color-default-white, 0.2);
      border-color: rgba($color-default-white, 0.4);
      pointer-events: none;
    }
  }

  input,
  textarea {
    padding: 14px 20px 15px;
    font-size: 14px;
    line-height: 14px;
    color: $color-default-white;
    background-color: $color-transparent;
    border: 1px solid rgba($color-default-white, 0.3);
    border-radius: 8px;
    outline: none;
    cursor: text;
    transition: border $trans-default;

    &:hover,
    &:focus,
    &:focus-visible {
      border-color: rgba($color-default-white, 1);
    }
  }

  textarea {
    height: 98px;
  }

  &--secondary {
    label {
      @include hover {
        &:not(:has(input:disabled, textarea:disabled)) {
          input,
          textarea {
            border-color: $color-charcoal;
          }
        }
      }

      &:focus {
        input,
        textarea {
          border-color: $color-charcoal;
        }
      }

      &:has(input:disabled, textarea:disabled) {
        input,
        textarea {
          background-color: rgba($color-mischka, 0.2);
          border-color: rgba($color-charcoal, 0.5);
        }
      }
    }

    input,
    textarea {
      color: inherit;
      border-color: rgba($color-charcoal, 0.3);
    }
  }

  @include vp-767 {
    label {
      gap: 11px 0;
    }

    textarea {
      height: 94px;
    }

    &--secondary {
      label {
        gap: 8px 0;
      }

      input,
      textarea {
        padding: 11px 20px 12px;
      }
    }
  }
}

.custom-input__label,
.custom-textarea__label {
  font-size: 14px;
  line-height: 14px;
  opacity: 0.8;
  transition: opacity $trans-default;

  @include vp-767 {
    font-size: 12px;

    &--secondary {
      font-size: 14px;
    }
  }
}

.custom-input.is-invalid,
.custom-textarea.is-invalid {
  input,
  textarea {
    background: rgba($color-wild-watermelon, 0.2);
    border: 1px solid $color-wild-watermelon;
  }
}
