.modal {
  display: flex;
  border: none;
  padding: 0;
  flex-direction: column;
  border-radius: 16px;
  margin-top: 90px;

  &::backdrop {
    background-color: rgba(13, 29, 51, 0.4);
    width: 100%;
    height: 100%;
  }

  @include vp-1199 {
    margin-top: 120px;
  }

  @include vp-767 {
    margin-top: 24px;
    transform: scale(1.03);
  }
}

.modal__wrapper {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  border-radius: 16px;

  .feedback__form {
    padding: 60px 80px 58px;
    background-color: $color-default-white;
    color: $color-charcoal;
    display: flex;
    flex-direction: column;
    max-width: 510px;
    gap: 4px 0;

    @include vp-767 {
      gap: 5px 0;
      padding: 60px 10px 58px;
    }

    form {
      gap: 15.7px 0;

      @include vp-767 {
        width: 89%;
        margin: 0 auto;
      }
    }

    label,
    .custom-select {
      @include vp-767 {
        gap: 6px 0;
      }
    }

    .custom-input__label,
    .custom-select__label {
      @include vp-767 {
        font-size: 14px;
      }
    }

    .custom-toggle__label {
      @include vp-767 {
        font-size: 11.5px;
        line-height: 12px;
      }
    }

    input,
    .custom-select__button,
    .custom-toggle__icon {
      border-color: rgba(72, 72, 72, 0.3);

      &:hover {
        border-color: $color-dim-gray;
      }

      &:focus,
      &:active {
        border-color: $color-charcoal;
      }

      &:disabled {
        background-color: rgba(169, 175, 183, 0.2);
        border-color: rgba(169, 175, 183, 0.5);
        color: $color-mischka;
      }
    }

    input,
    .custom-select__button {
      color: $color-charcoal;

      @include vp-767 {
        padding: 10px 20px 12px;
      }
    }

    .custom-select__button,
    .custom-select__item {
      @include vp-767 {
        padding: 8px 20px 10px;
        min-height: 44px;
      }
    }
  }

  .custom-toggle input:checked + .custom-toggle__icon {
    background-color: $color-cerulean-blue;

    &::before {
      background-image: url('data:image/svg+xml,\<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">\<path d="M1 3.5L3.94737 7L9 1" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>\</svg>');
    }
  }

  .custom-select__icon {
    background-color: $color-charcoal;
  }

  .custom-textarea {
    display: none;
  }

  .btn--secondary::before {
    background-color: $color-cerulean-blue;
  }

  .feedback__title {
    margin: 0 0 7px;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: $color-cerulean-blue;

    @include vp-1199 {
      margin: 0 0 9px;
      font-size: 28px;
      line-height: 28px;
    }

    @include vp-767 {
      margin: 0;
      font-size: 18px;
      line-height: 18px;
    }
  }

  .feedback__text {
    margin: 0 0 20px;
    text-align: center;

    @include vp-1199 {
      margin: 0 0 24px;
      line-height: 20px;
    }

    @include vp-767 {
      align-self: center;
      max-width: 80%;
      margin: 0 0 16px;
      font-size: 14px;
    }
  }

  .custom-select {
    margin-top: 2px;

    @include vp-767 {
      margin-top: 0;
    }
  }

  .feedback__btn {
    width: 55%;
    align-self: center;
    margin: 12px 0 0;
    color: $color-cerulean-blue;
    border: 1px solid $color-cerulean-blue;

    svg {
      color: $color-default-white;
    }

    @include vp-1199 {
      margin: 16px 0 0;
    }

    @include vp-767 {
      align-self: stretch;
      margin: 9px 0 0;
      width: 100%;
    }
  }
}

.modal__close {
  position: absolute;
  top: 26px;
  right: 18px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  color: $color-cerulean-blue;
  background: $color-transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition:
    opacity $trans-default,
    color $trans-default;

  @include vp-767 {
    top: 15px;
    right: 16px;
    width: 25px;
    height: 25px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    border: none;
    opacity: 0.7;
  }

  &:active {
    color: $color-endeavour;
    opacity: 1;
  }
}
