.news {
  background-color: $color-alabaster;
}

.news__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 124px;
  padding-bottom: 62px;
  gap: 40px 0;

  @include vp-1199 {
    padding-top: 99px;
    padding-bottom: 50px;
    gap: 30px 0;
  }

  @include vp-767 {
    padding-top: 69px;
    padding-bottom: 35px;
    gap: 24px 0;
  }
}

.news__title {
  min-height: 56px;
  text-align: center;

  @include vp-1199 {
    min-height: 51px;
  }

  @include vp-767 {
    min-height: 23px;
  }
}

.news__tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 0 30px;

  @include vp-1199 {
    gap: 0 10px;
  }

  @include vp-767 {
    flex-wrap: nowrap;
    justify-content: stretch;
    align-self: flex-start;
    width: calc(100% + 15px);
    padding-right: 15px;
    overflow-x: auto;
    gap: 0 11px;
  }
}

.news__btn {
  padding: 12px 26px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: $color-cerulean-blue;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  background-color: $color-transparent;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  opacity: 0.6;
  transition: all $trans-default;

  @include vp-1199 {
    padding: 12px 20px;
  }

  @include vp-767 {
    padding: 9px 15px 8px 14px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }

  @include hover-focus {
    opacity: 1;
  }
}

.news__btn.is-active {
  box-shadow: inset 0 0 0 1px $color-cerulean-blue;
  opacity: 1;
}

.news__slider {
  width: 100%;
}

.news__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.news__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 286px;
  min-height: 400px;
  height: auto;
  background-color: $color-alabaster;

  picture {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  img {
    border-radius: 12px;
    object-fit: cover;
    height: 100%;
  }

  &:first-child {
    max-width: 604px;

    h3 {
      max-width: 291px;
      padding-top: 13px;
      padding-bottom: 2px;
    }

    p {
      max-width: 325px;
    }
  }

  @include vp-1199 {
    max-width: 100%;
    aspect-ratio: 324/350;

    img {
      width: 100%;
    }

    &:first-child {
      max-width: 100%;

      h3 {
        max-width: calc(86% + 1px);
        padding-top: 5px;
        padding-bottom: 1px;
      }

      p {
        max-width: calc(80% - 1px);
      }
    }
  }

  @include vp-767 {
    min-height: 330px;
    aspect-ratio: 290/330;

    img {
      min-height: 330px;
    }

    &--bottom {
      min-height: 240px;
      aspect-ratio: 290/230;

      img {
        height: 75vw;
        min-height: 240px;
      }
    }

    &:first-child {
      h3 {
        max-width: 76%;
        padding-top: 10px;
        padding-bottom: 4px;
      }

      p {
        max-width: 100%;
      }
    }
  }
}

.news__content {
  time {
    position: relative;
    padding: 7px 12px 3px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: $color-cerulean-blue;
    text-transform: uppercase;
    letter-spacing: 0.12px;
    background-color: $color-alabaster;
    border-radius: 0 12px 0 0;

    &::before {
      content: "";
      position: absolute;
      top: -16px;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url('data:image/svg+xml,\<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">\<path d="M16 16C7.16344 16 0 8.83656 0 0V16H16Z" fill="%23f0efe9"/>\</svg>');
    }

    &::after {
      content: "";
      position: absolute;
      right: -16px;
      bottom: 0;
      width: 16px;
      height: 16px;
      background-image: url('data:image/svg+xml,\<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">\<path d="M16 16C7.16344 16 0 8.83656 0 0V16H16Z" fill="%23f0efe9"/>\</svg>');
    }
  }

  h3 {
    position: relative;
    max-width: 214px;
    margin: 0;
    padding: 5px 11px 0 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: $color-cerulean-blue;
    background-color: $color-alabaster;
    border-radius: 0 12px 0 0;

    &::after {
      content: "";
      position: absolute;
      right: -16px;
      bottom: 0;
      width: 16px;
      height: 16px;
      background-image: url('data:image/svg+xml,\<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">\<path d="M16 16C7.16344 16 0 8.83656 0 0V16H16Z" fill="%23f0efe9"/>\</svg>');
    }
  }

  @include vp-1199 {
    margin-right: 84px;

    h3 {
      max-width: calc(86% + 1px);
      padding: 5px 16px 1px 0;

      font-size: 20px;
      line-height: 24px;
    }
  }

  @include vp-767 {
    margin-right: 27px;

    h3 {
      max-width: 76%;
      padding: 10px 18px 4px 0;

      font-size: 16px;
      line-height: 18px;
    }
  }
}

.news__text {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 18px 12px 0;
  background-color: $color-alabaster;
  border-radius: 0 12px 0 0;
  gap: 0 16px;

  &::before {
    content: "";
    position: absolute;
    right: -16px;
    bottom: 0;
    width: 16px;
    height: 16px;
    background-image: url('data:image/svg+xml,\<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">\<path d="M16 16C7.16344 16 0 8.83656 0 0V16H16Z" fill="%23f0efe9"/>\</svg>');
  }

  p {
    max-width: 176px;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }

  @include vp-1199 {
    padding: 7px 18px 10px 0;

    p {
      max-width: calc(80% - 1px);
      line-height: 20px;
    }
  }

  @include vp-767 {
    padding: 13px 10px 9px 0;

    p {
      max-width: 100%;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.news__button {
  flex-shrink: 0;
}

.news__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 32px;

  @include vp-767 {
    min-height: 26px;
  }
}

.news__pagination {
  display: flex;
  justify-content: center;
  gap: 0 20px;

  @include vp-767 {
    gap: 0 16px;
  }
}

.news__pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 16px;
  line-height: 20px;
  color: $color-cerulean-blue;
  background-color: $color-transparent;
  outline: none;
  opacity: 0.5;
  transition: all $trans-default;

  @include vp-767 {
    width: 26px;
    height: 26px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }

  @include hover-focus {
    box-shadow: inset 0 0 0 1px $color-cerulean-blue;
    opacity: 1;
  }

  &:active {
    color: $color-default-white;
    background-color: $color-endeavour;
    box-shadow: none;
  }
}

.swiper-pagination-bullet-active {
  color: $color-default-white;
  background-color: $color-cerulean-blue;
  opacity: 1;
}
