.programs {
  background-color: $color-alabaster;
}

.programs__container {
  position: relative;
  padding-top: 62px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 35px;
    padding-bottom: 139px;
  }
}

.programs__headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 42px;

  @include vp-1199 {
    margin: 1px 0 40px;
  }

  @include vp-767 {
    margin: 0 0 32px;
  }
}

.programs__title {
  padding-right: 242px;
  display: inline-block;

  @include vp-1199 {
    padding: 0;
  }

  @include vp-767 {
    margin: 0 auto 2px 0;
  }
}

.programs__btn {
  top: -4px;
  position: relative;
  max-width: 30%;
  display: inline-block;

  @include vp-1199 {
    top: 0;
    max-width: 90%;
  }

  @include vp-767 {
    position: absolute;
    bottom: 68px;
    top: auto;
    right: auto;
    left: 15px;
    padding-right: 68px;
    padding-left: 29px;
  }
}

.programs__slider {
  margin: 0 0 40px;

  @include vp-1199 {
    overflow: visible;
  }

  @include vp-767 {
    margin: 0;
    overflow: hidden;
  }
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.programs__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 392px;
  height: auto;
  aspect-ratio: 392/420;

  picture {
    position: absolute;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(49, 109, 194, 0.2);
      inset: 0;
      border-radius: 12px;
    }
  }

  img {
    border-radius: 12px;
    height: 100%;
    object-fit: cover;
  }

  @include vp-1199 {
    aspect-ratio: 324/420;

    img {
      width: 100%;
    }
  }

  @include vp-767 {
    aspect-ratio: 290/400;
  }

  &:first-of-type {
    .programs__text {
      padding: 1px 1.8% 2px 5.8%;

      @include vp-1199 {
        padding: 9px 18px 12px;
      }

      @include vp-767 {
        padding: 10px 18px 8px;
      }
    }
  }
}

.programs__info {
  position: relative;
  padding: 0 13% 0 20px;
  bottom: 20px;

  h3 {
    position: relative;
    width: 194px;
    margin: 0;
    padding: 13px 18px 2px;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: $color-cerulean-blue;
    background-color: $color-default-white;
    border-radius: 12px 12px 0 0;

    &::before {
      content: "";
      position: absolute;
      right: -18px;
      bottom: 0;
      width: 18px;
      height: 18px;
      background-image: url('data:image/svg+xml,\<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">\<path d="M18 18C8.05888 18 0 9.94112 0 0V18H18Z" fill="%23ffffff"/>\</svg>');
    }
  }

  @include vp-1199 {
    padding-right: 41px;
    bottom: 18px;

    h3 {
      width: 173px;
      padding: 13px 18px 1px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  @include vp-767 {
    padding: 16px 10px;
    bottom: 0;

    h3 {
      width: 146px;
      padding: 18px 18px 8px;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.programs__text {
  background-color: $color-default-white;
  padding: 2px 1.8% 14px 5.8%;
  border-radius: 0 12px 12px 12px;
  min-height: 78px;

  p {
    display: inline-block;
    width: 80%;
    margin-right: 5.1%;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
  }

  @include vp-1199 {
    min-height: 80px;
    padding: 9px 18px 12px;

    p {
      width: auto;
      max-width: 80%;
      margin: 0;
      margin-right: 4%;
      line-height: 20px;
    }
  }

  @include vp-767 {
    min-height: 69px;
    padding-bottom: 9px;

    p {
      max-width: 81%;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.programs__arrow {
  left: 0;
  vertical-align: middle;
}

.programs__controls {
  display: flex;
  align-items: center;
  gap: 0 52px;

  @include vp-1199 {
    gap: 0 64px;
  }

  @include vp-767 {
    position: absolute;
    top: 35px;
    right: 15px;
  }
}

.programs__scrollbar {
  width: 100%;
  height: 2px;
  margin: 0 0 2px;
  background-color: rgba($color-cerulean-blue, 0.2);

  @include vp-767 {
    display: none;
  }
}

.programs__scrollbar .swiper-scrollbar-drag {
  background-color: $color-cerulean-blue;
}

.programs__arrows {
  display: flex;
  margin-left: auto;
  gap: 0 10px;

  @include vp-767 {
    gap: 0 8px;
  }
}
