.reviews {
  background-color: $color-alabaster;
}

.reviews__container {
  padding-top: 62px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 49px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    position: relative;
    padding-top: 35px;
    padding-bottom: 27px;
  }
}

.reviews__title {
  margin: 0 0 45px 3px;

  @include vp-1199 {
    margin: 0 0 40px;
  }

  @include vp-767 {
    margin: 0 0 31px;
  }
}

.reviews__slider {
  margin: 0 0 40px;

  @include vp-1199 {
    overflow: visible;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    width: 560px;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 50px 49px 42px;
  outline-offset: -2px;
  outline: 1px solid #316dc2;
  border-radius: 16px;
  gap: 25px 0;

  @include vp-1199 {
    padding-bottom: 45px;
  }

  @include vp-767 {
    padding: 30px 14px 24px;
    gap: 24px 0;
  }
}

.reviews__headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 15px;

  picture {
    flex-shrink: 0;
  }

  img {
    border-radius: 50%;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    gap: 14px 0;

    img {
      width: 60px;
      height: 60px;
    }
  }
}

.reviews__person {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 0 15px;

  @include vp-767 {
    gap: 0 10px;
  }
}

.reviews__name {
  max-width: 100px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: $color-cerulean-blue;

  @include vp-1199 {
    font-size: 20px;
  }

  @include vp-767 {
    max-width: 90px;
    font-size: 14px;
    line-height: 18px;
  }
}

.reviews__review {
  display: flex;
  flex-direction: column;
  gap: 14px 0;
  line-height: 26.4px;

  p {
    margin: 0;
  }

  *:first-child {
    font-size: 24px;
    line-height: 26px;
    color: $color-cerulean-blue;
  }

  @include vp-1199 {
    gap: 16px 0;

    p {
      line-height: 20px;
    }

    *:first-child {
      font-size: 20px;
      line-height: 24px;
    }
  }

  @include vp-767 {
    gap: 15px 0;

    p {
      font-size: 14px;
    }

    *:first-child {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.reviews__controls {
  display: flex;
  align-items: center;
  gap: 0 52px;

  @include vp-1199 {
    gap: 0 64px;
  }

  @include vp-767 {
    position: absolute;
    top: 33px;
    right: 15px;
  }
}

.reviews__scrollbar {
  width: 100%;
  height: 2px;
  margin: 0 0 2px;
  background-color: rgba($color-cerulean-blue, 0.2);

  @include vp-767 {
    display: none;
  }
}

.reviews__scrollbar .swiper-scrollbar-drag {
  background-color: $color-cerulean-blue;
}

.reviews__arrows {
  display: flex;
  margin-left: auto;
  gap: 0 10px;

  @include vp-767 {
    gap: 0 8px;
  }
}
